<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>DBUSER</param-name>
        <param-value>forum2</param-value>
    </context-param>
    <context-param>
        <param-name>DBPWD</param-name>
        <param-value>forum2</param-value>
    </context-param>
    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:derby://localhost:1527/Forum2</param-value>
    </context-param>
    <listener>
        <description>listener</description>
        <listener-class>listeners.AppContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>profileFilter</filter-name>
        <filter-class> filters.ProfileFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>profileFilter</filter-name>
        <url-pattern>/ViewProfile</url-pattern>
        <url-pattern>/viewProfile.jsp</url-pattern>
        <url-pattern>/ChangeAvatar</url-pattern>
        <url-pattern>/ChangePassword</url-pattern>
        <url-pattern>/GetOwnerGroups</url-pattern>
        <url-pattern>/ownerGroups.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/EditGroup</url-pattern>
        <url-pattern>/editGroup.jsp</url-pattern>
        <url-pattern>/PreEditGroup</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class> filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/CreateGroup</url-pattern>
        <url-pattern>/createGroup.jsp</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>Start</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>servlets.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRequest</servlet-name>
        <servlet-class>servlets.ControlRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestorePassword</servlet-name>
        <servlet-class>servlets.RestorePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>servlets.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatar</servlet-name>
        <servlet-class>servlets.ChangeAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>servlets.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwnerGroups</servlet-name>
        <servlet-class>servlets.GetOwnerGroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGroup</servlet-name>
        <servlet-class>servlets.EditGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRequest</servlet-name>
        <url-pattern>/ControlRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestorePassword</servlet-name>
        <url-pattern>/RestorePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatar</servlet-name>
        <url-pattern>/ChangeAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwnerGroups</servlet-name>
        <url-pattern>/GetOwnerGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGroup</servlet-name>
        <url-pattern>/EditGroup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
